.git
.github
.next
node_modules
npm-debug.log
README.md
Dockerfile
.dockerignore
.env
.env.*
!.env.example
.vscode
.idea
coverage
.DS_Store
**/*.log
docker-compose*.yml
caddy
caddy_data
caddy_config
public/uploads/avatars
public/uploads/events
public/uploads/link-covers
public/uploads/link-icons
